@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
*{
    box-sizing: border-box; 
}
body{
    margin: 0;
    font-family: 'Kalam', cursive;

}
textarea{
     box-sizing: border-box;
     display: block;
     width: 100%;
     min-height: 20vh;
     margin-top: 2rem;
     font-size: large;
     font-family: inherit;
 }
 #outputText{
    box-sizing: border-box;
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    border: 1px solid black;
 }
 #heading{
    font-size: 2rem; 
    padding: 1rem; 
    text-align: center;
    background-color: yellow;
 }
 main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

 p{
    color:black ; 
    background-color: yellow; 
    text-align: right;
 }
button{
    background-color: yellow;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px 2px 5px;
    border-radius: 50%;
    margin-left: 230px;
 }
 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: yellow;
    text-align: center;
}
footer p {
    max-width: 600px;
    margin: auto;
}
#pic{
    width:400px ; 
    height:400px; 
    left:0;
    position: absolute;
}